.about_main {
    border: 1px solid black;
    height: 100vh;
    padding-top: 55px;
}

.about_main h1 {
    color: #1D8BCF;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    /* border: 1px solid red; */
}

.about_main h1>div {
    display: inline-block;
}

.about_main h1>span:nth-child(3),
.about_main h1>span:nth-child(6) {
    margin-right: 10px;
}

.about_main h1>div:nth-child(2) {
    background: url('../../images/about_me.webp');
}

.about_main h1>div:nth-child(5) {
    background: url('../../images/about_me_b.webp');
}

.about_me_hero {
    width: 11em;
}