.work_main {
    height: 20vh;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.work_main>a,
.work_main>p {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.active {
    border-bottom: 1.5px solid #1D8BCF;
}

.work_main p {
    margin: 0 10px;
}